body {
    display: flex;
    flex-direction: column;
    height: 1000px;
    margin: 0px;
    font-family: 'Roboto';
}

.header {
    background: #1F2937;
    height: 50px;
    flex-grow: 0;
    
    display: flex;
    align-items: center;
}

.header-text-left {
    font-size: 24px;
    font-weight: 900;
    color: white;
    margin-left: 10%;
    flex-basis: 60%;
}

.header-text-right {
    font: roboto;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    background: #1F2937;
    height: 50px;
    flex-grow: 0;
}

.panel {
    flex-grow: 1;
}

.p1 {
    background: #1F2937;
    display: flex;
    flex-basis: 8%;
    padding: 5%;
}

.p1-left {
    margin-left: 10%;
    flex-basis: 30%;
}

.p1-right {
    flex-basis: 30%;
    background-color: gray;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.p1-paragraph1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

.p1-paragraph2 {
    font-size: 18px;
    color: #E5E7EB;
}

.p2 {
    background: white;
}

.p3 {
    background: gray;
}

.p4 {
    background: white;
}

